@use '../../styles/devices.scss' as *;

.scrollToTop{
    position: fixed;
    z-index: 400;
    border: none;
    bottom: 2.5rem;
    right: 2.5rem;
    border-radius: 10%;
    background-color: #00aeef;
    transition: all 0.25s ease-in;

    @media #{$break1}, #{$break2}{
        bottom: 1.5rem;
        right: 1.5rem;
        z-index: 200;
    }
    &:hover{
        @media #{$break3}{
            cursor: pointer;
            transition: 0s ease-in-out;
        }
    }

    &-icon{
        font-size: var(--font-size-6);
        padding: 0.5rem 0.7rem 0.3rem 0.7rem;
        color: white;
        
        @media #{$break3}{
            &:hover{
                color: var(--gray-9);
            }
        }

        @media #{$break1}, #{$break2}{
            padding: 0.2rem 0.3rem 0.1rem 0.3rem;
            font-size: var(--font-size-4);
            
        }
    }
}
